PORT=
WEB3AUTH_CLIENTID=
WEB3AUTH_CLIENTSECRET=
GOOGLE_CLIENTID=
GOOGLE_CLIENTSECRET=
AUTH0_CLIENTID=

# Gmail
EMAIL_HOST=
EMAIL_USERNAME=
EMAIL_PASSWORD=


BLOCKCHAIN_RPC_URL= 
BLOCKCHAIN_PRIVATE_KEY= 
DEALS_MANAGER_CONTRACT_ADDRESS= 
