PORT=4000
WEB3AUTH_CLIENTID=BKQZHSpebfQLB-qexRvqU-MGShhn6LuZIDEq6P_7fyul8Jc-jofRnIXbtT9q520atvX_cGAUzhQc0afr9vnHfBQ
WEB3AUTH_CLIENTSECRET=cf1c96c5fd4b054a617475eb92e7bede0af5cc6b899b849ebc5db55c34dc8f8c
GOOGLE_CLIENTID=27496620142-4reitpd7esol4iuk5pvosb0vkduog7ro.apps.googleusercontent.com
GOOGLE_CLIENTSECRET=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
AUTH0_CLIENTID=8tr6fW5OoaMvXhNfQAHZsabCtaZRe3V2
AUTH0_DOMAIN=trumarket-dev.eu.auth0.com

# Gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_USERNAME=trumarketdev165@gmail.com
EMAIL_PASSWORD=mhavipcsjwiputhc


BLOCKCHAIN_RPC_URL= http://protocol:8545
BLOCKCHAIN_PRIVATE_KEY= 0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a
DEALS_MANAGER_CONTRACT_ADDRESS= 0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a
ONFIDO_API_TOKEN=
ONFIDO_WORKFLOW_ID=
ONFIDO_WEBHOOK_TOKEN=